<div style="margin-top: 63px">

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  
                    <div class="clearfix"></div>
                    <h2 class="section-heading">임철희 (윤계상닮음:본인주장)
                    <hr class="section-heading-spacer">
                        <br>CEO(경영자)</br>
                    </h2>
                    <p class="lead">연애따위에 시간낭비하지 않으려 코딩하는 직전학기 평점 2.87의 허세남</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="<%= image_url('chulhee.png') %>" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        황준우
                    <hr class="section-heading-spacer">
                        <br>CTO(기술경영자)</br>
                    </h2>
                    <p class="lead">개발자가 되고 싶은 개발자. 중국집에서 이제 냉면을 팔지 않는다는 사실로 가을이 왔음을 아는 남자.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="<%= image_url('junwoo.png') %>" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                   
                    <div class="clearfix"></div>
                    <h2 class="section-heading">배은지 
                    <hr class="section-heading-spacer">
                        <br>CMO(마케팅경영자)</br>
                    </h2>
                    <p class="lead">마케팅 담당. 각종 글 담당. 코딩도 조금 하고 있음. 중경삼림과 페퍼톤스를 좋아함</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="<%= image_url('eunjii.png') %>" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">윤보람
                    <hr class="section-heading-spacer">
                        <br>CFO(재무경영자)</br>
                    </h2>
                    <p cl<p class="lead">저는 자연인... 미...를 넣고 싶은 윤보람이에요~ 저는 지금 제가 뭘 해야할지 잘 몰라 고민 중인 취준생이에요. 음악적으로는 뭐 잘 몰라요... 빅뱅 좋아해요~ 영화는 개봉해서 평 좋은것들만 골라봐요. 저의 최근 목표는 살빼자!!!랍니다^^</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="<%= image_url('boram.png') %>" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">박능엄 (23, 여자친구 없음)
                    <hr class="section-heading-spacer">
                        <br>CCO(고객담당책임자)</br>
                    </h2>
                    <p cl<p class="lead">Yesterday you said tomorrow. Just do it.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="<%= image_url('neugum.png') %>" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">배수민
                    <hr class="section-heading-spacer">
                        <br>디자이너</br>
                    </h2>
                    <p cl<p class="lead">不狂不及</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="<%= image_url('designer.png') %>" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
