<!--메인 페이지 시작-->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Lift Your Bucket</h1>
                    <h3>꿈을 이루세요! 꿈을 이뤄보세요
                    ! 꿈은 이루어진다!</h3>
                    <hr class="intro-divider">
                    <form class="form-horizontal" action="/bucket/make_bucket">
                      <div class="form-group form-group-lg">
                          <div class="col-sm-3">
                          </div>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="formGroupInputLarge" placeholder="어떤 꿈을 가지고 있나요?" name="main_title_input"><br>
                            <p>
                              <button class="btn btn-primary btn-lg" type="sumbit">버킷리스트 올리기</button>
                            </p>
                          </div>
                          <div class="col-sm-3">
                          </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--메인 페이지 끝-->
<!--ifnill소개 시작-->
    <div class="row featurette featurette-divider">
        <div class="col-md-5 col-md-push-7 basic">
        <!--<img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">-->
        </div>
        <div class="col-md-7 col-md-pull-5">
            <img src="<%= image_url('what_is_ifnill.png')%>" width="110" height="110">

            <h2>ifnill을 소개합니다.</h2>
            <h4>ifnill은 버킷리스트 실현을 돕는 서비스에요!</h4><br><br>
          <p class="p_tag">     
            <a class="a_tag" href="#ifer">ifer</a>가 버킷리스트를 이룰 때 필요한 물품을 이포켓에 담으면,<br> 
            <a class="a_tag" href="#fuller">fuller</a>들이 물품을 채워 버킷리스트를 이룰 수 있게 도와줘요.<br><br>
            버킷리스트라고 해서 엄청난 일만 올릴 필요는 없어요.<br> 
            하루 종일 잠자기, 스카이다이빙 하기, 할머니와의 일본 온천여행 등등등.<br><br>
            아주 작은 일에서부터 크게 느껴지는 모든 일.<br> 생각하는 모든 일, 해보고 싶었던 일들을<br> ifnill에서 이루세요.
          </p>  
        </div>
    </div>
<!--ifnill소개 끝-->
<!--ifer소개 시작-->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5 basic" id="ifer">
          <img src="<%= image_url('ifer.png')%>" width="110" height="110">
          <h2>ifer</h2>
          <h4>ifer는 버킷리스트를 등록하는 이용자에요.</h4>
          <h4>이포켓에 필요한 물품을 등록하고, 버킷리스트를 실현시키죠.</h4><br>
          <p class="p_tag">
          ifer는 한 명이 될 수도, 여러 명이 될 수도 있어요.<br><br>
          실행 하고픈 버킷리스트를 소개하고, 달성 해낼 기간을 등록해요.<br>
          이포켓에 넣을 물품도 고릅니다.<br><br>         
          fuller와 링크해서 레디포켓을 차곡차곡 채우면, 버킷리스트를 달성할 수 있게 돼요!<br><br>
          버킷리스트 진행 과정에서 ifnill의 미션을 받고,<br> 
          미션을 ifnill 홈페이지에 올리게 됩니다.<br>
          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        <!--<img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">-->
        </div>
    </div>
<!--ifer소개 끝-->
<!--fuller소개 시작-->
    <hr class="featurette-divider">
    <div class="row featurette featurette-divider">
        <div class="col-md-5 col-md-push-7" id="fuller">
        <!--<img class="featurette-image img-responsive center-block" src="" alt="Generic placeholder image">-->
        </div>
        <div class="col-md-7 col-md-pull-5 basic">
          <img src="<%= image_url('fuller.png')%>" width="110" height="110">

          <h2>fuller</h2>
          <h4>fuller는 이퍼의 버킷리스트를 보고, 이포켓을 채워주는 후원자에요.</h4>
          <p class="p_tag">
          fuller는 개인이 될 수도, 단체가 될 수도 있어요.<br>
          버킷리스트 실현의 기회를 제공할 수 있는 모든 사람들이 fuller입니다.<br><br>
          fuller는 ifer들이 작성한 버킷리스트 목록을 보고,<br>
          후원 가능한 물품을 지원해요.<br>
          </p>
        </div>
    </div>
<!--fuller소개 끝-->
<!--단계소개 시작-->
    <hr class="featurette-divider">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 basic">
              <img src="<%= image_url('step_1.png')%>" width="110" height="110">

              <h1>1단계</h1>
              <p class="p_tag">
              ifer: 버킷리스트와 이포켓을 등록<br><br>
              fuller: ifer의 이포켓의 물품을 지원
              </p>
            </div>
            
            <div class="col-lg-4 basic">
            <img src="<%= image_url('step_2.png')%>" width="110" height="110">
              <h1>2단계</h1>
              <p class="p_tag">
              ifer: 설정이 기간 지난 후, 버킷리스트를 실행<br>
              ifnill의 미션을 받고, 지원받은 fuller의 물품을 이용해서 버킷리스트를 수행과정 업로드<br><br>
              fuller, 다른 ifer: 버킷리스트가 진행과정 함께 즐기기, 응원하기
              </p>
            </div>
            
            <div class="col-lg-4 basic">
            <img src="<%= image_url('step_3.png')%>" width="110" height="110">
              <h1>3단계</h1>
              <p class="p_tag">
              ifer: 버킷리스트 실현완료!<br>
              완료된 리스트를 통해 ifer가 실현한 ifnill의 미션을 확인
              </p>
            </div>
        </div>
    </div>
    <div class="featurette-divider"></div>
<!--단계소개 끝-->    
</div>