<div style="margin-top:100px">
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="<%= @selected_bucket.thumbnail.url %>" alt="Generic placeholder image" width="140" height="140">
        </div>
        <div class="col-lg-5">
          <h2><%= User.find(@selected_bucket.user_id).name %></h2>
          <p><%= @selected_bucket.intro_simple %></p>
          <div class="col-lg-4">
            <h3>90%</h3>
          </div>
          <div class="col-lg-4">
            <h3>7일남음</h3>
          </div>
          <div class="col-lg-4">
            <h3>83명후원</h3>
          </div>
        </div>
        <div class="col-lg-3">
          <h5>
            <% @selected_bucket.items.each do |item| %>
              <% if item.state == 0 %>
                #<%= item.name %>
              <% end %>
            <% end %>
          </h5>
          <br/><a class="btn btn-lg btn-primary" href="/bucket/support" role="button">후원하기</a>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 style="margin-bottom:40px" class="blog-post-title"><%= @selected_bucket.name %></h2>
              <div class="col-md-12">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                      </ol>
                      <div class="carousel-inner">
                          <div class="item">
                              <img class="slide-image" src="http://image.music.naver.net/music/contents/promotion/special/content/201405/140520_gstbf_01_2411.jpg" alt="">
                          </div>
                          <div class="item">
                              <img class="slide-image" src="http://image.music.naver.net/music/contents/promotion/special/content/201405/140520_gstbf_02_2411.jpg" alt="">
                          </div>
                          <div class="item active">
                              <img class="slide-image" src="http://www.gigsoup.co.uk/wp-content/uploads/2015/06/Screen-Shot-2015-06-23-at-16.59.51-620x350.png" alt="">
                          </div>
                      </div>
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                  </div>
              </div>
            <p><%= @selected_bucket.intro_detail %></p>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <h4>후원이 필요해요!</h4>
          <a href="#">
          <div class="sidebar-module sidebar-module-inset sidebar-module-inset-sn">
            <% @selected_bucket.items.each do |item| %>
              <% if item.state == 0 %>
                <li class="tag_li tag_support_yet" ><%= item.name %></li>
              <% end %>
            <% end %>
          </div>
          </a>
          <h4>후원중이에요!</h4>
          <div class="sidebar-module sidebar-module-inset sidebar-module-inset-si">
            <% @selected_bucket.items.each do |item| %>
              <% if item.state == 1 %>
                <li class="tag_li tag_support_yet" ><%= item.name %></li>
              <% end %>
            <% end %>
          </div>
          <h4>후원 완료됐어요!</h4>
          <div class="sidebar-module sidebar-module-inset">
            <% @selected_bucket.items.each do |item| %>
              <% if item.state == 2 %>
                <li class="tag_li tag_support_yet" ><%= item.name %></li>
              <% end %>
            <% end %>
          </div>
          <div class="sidebar-module">
            <h4>같은 태그의 게시물 보기</h4>
            <ol class="list-unstyled">
              <p>
                  <% @selected_bucket.items.each do |item| %>
                      <li><a href="#">#<%= item.name %></a></li>
                  <% end %>
              </p>

            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h3>후원 태그</h3> </div>
          <div class="col-sm-6" style="text-align:left"><h3>상세 설명</h3></div>
          <div class="col-sm-3" style="text-align:left"><h3>후원자</h3></div>
      </div>
      <hr>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4>#티켓</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4>미국가는 티켓 2015.05.08 출발</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4>대한항공</h4> </div>
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4> #배낭가방</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 배낭여행 가는데 배낭가방이 없어요. 큰걸로~</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4> TUMI</h4> </div>
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4> #5성급호텔숙박권</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 별이 5개가 아니면 전 못 자요</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4> AIRBNB</h4> </div>
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4> #Mercedes</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 이동수단이 있어야죠!</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4> HYUNDAI</h4> </div>
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4> #34-24-34 금발의 여성</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 같이 여행을 갈 동반자가 있어야죠!</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4> 결혼해 DUO</h4> </div>
      </div>
    </div>
    <div class="container marketing">
      <hr>
      <div class="col-md-10">
        <h3><% @selected_bucket.replies.count %>개의 댓글이 있어요.</h3>
        <textarea class="form-control" rows="3" cols="auto"></textarea>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" style="margin-top:90px">등록하기</button>
      </div>
      <div class="col-md-12">
        <hr>
          <% @selected_bucket.replies.each do |reply| %>
            <h3><span class="label label-info"><%= reply.user_id %></span></h3>
            <p><%= reply.context %></p>
          <% end %>
        <hr>
      </div>
    </div>
</div>