<div class="container bucket-container">
    <div class="marketing">

      <div class="row detail_top_info">
        <div class="col-lg-4">
          <img class="img-circle" src="<% unless @selected_bucket.user.profile.nil? %><%= @selected_bucket.user.profile %><% else %> <%= image_url('default_image.png')%> <% end %>" alt="Generic placeholder image" width="140" height="140">
          <h4><%= @selected_bucket.user.name %></h4>
        </div>
        <div class="col-lg-6">
          <h2><%= @selected_bucket.name %></h2>
          <h4><%= @selected_bucket.intro_simple %></h4>
          <div class="col-lg-6">
            <h3><%= ((@selected_bucket.items.where(:state => 2).count.to_f / @selected_bucket.items.count.to_f)*100).round(1) %> %</h3>
          </div>
          <div class="col-lg-6">
            <h3><%= Time.diff(@selected_bucket.finish_date, Time.now.in_time_zone('Seoul').to_date, '%d')[:diff]  %> 남음</h3>
            <h6><%= @selected_bucket.start_date %> ~ <%= @selected_bucket.finish_date %></h6>
          </div>
        </div>
        <div class="col-lg-2">
          <% unless current_user.nil? %>
            <% if @selected_bucket.user_id == current_user.id %>
              <a class="btn btn-lg btn-primary" href="/bucket/modify/<%= @selected_bucket.id %>">수정</a>
              <a class="btn btn-lg btn-danger" href="/bucket/delete_bucket/<%= @selected_bucket.id %>" data-confirm="정말로 삭제하시겠습니까?">삭제</a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <!--
              <div class="col-md-12">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                      </ol>
                      <div class="carousel-inner">
                          <div class="item">
                              <img class="slide-image" src="http://image.music.naver.net/music/contents/promotion/special/content/201405/140520_gstbf_01_2411.jpg" alt="">
                          </div>
                          <div class="item">
                              <img class="slide-image" src="http://image.music.naver.net/music/contents/promotion/special/content/201405/140520_gstbf_02_2411.jpg" alt="">
                          </div>
                          <div class="item active">
                              <img class="slide-image" src="http://www.gigsoup.co.uk/wp-content/uploads/2015/06/Screen-Shot-2015-06-23-at-16.59.51-620x350.png" alt="">
                          </div>
                      </div>
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                  </div>
              </div>
              -->
              <div class="col-lg-12">
                <img src="<%= @selected_bucket.thumbnail.url %>" class="detail_img_container">
              </div>
            <p style="text-align:left"><%= @selected_bucket.intro_detail.gsub("\r\n","<br>").html_safe %></p>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 detail_support_btn">
            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-lg btn-primary" href="/bucket/support" role="button">후원하기</a>
          </div>

          <h4>후원이 필요해요!</h4>
          <div class="sidebar-module sidebar-module-inset sidebar-module-inset-sn">
            <% @selected_bucket.items.each do |item| %>
              <% if item.state == 0 %>
              <a href="#">
                <li class="tag_li tag_support_yet" ><%= item.name %></li>
              </a>
              <% end %>
            <% end %>
          </div>
          

          <h4>후원중이에요!</h4>
          <div class="sidebar-module sidebar-module-inset sidebar-module-inset-si">
            <% @selected_bucket.items.each do |item| %>
              <% if item.state == 1 %>
                <li class="tag_li tag_support_yet" ><%= item.name %></li>
              <% end %>
            <% end %>
          </div>
          <h4>후원 완료됐어요!</h4>
          <div class="sidebar-module sidebar-module-inset">
            <% @selected_bucket.items.each do |item| %>
              <% if item.state == 2 %>
                <li class="tag_li tag_support_yet" ><%= item.name %></li>
              <% end %>
            <% end %>
          </div>
          <div class="sidebar-module">
            <h4>같은 태그의 게시물 보기</h4>
            <ol class="list-unstyled">
              <p>
                  <% @selected_bucket.items.each do |item| %>
                      <li><a href="#">#<%= item.name %></a></li>
                  <% end %>
              </p>

            </ol>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h3>후원 태그</h3> </div>
          <div class="col-sm-6" style="text-align:left"><h3>상세 설명</h3></div>
          <div class="col-sm-3" style="text-align:left"><h3>후원자</h3></div>
      </div>
      <hr>
      <% @selected_bucket.items.each do |item| %>
          <div style="padding:10px 0px 50px">
            <div class="col-sm-3" style="text-align:left"><h4><%= item.name %></h4> </div>
            <div class="col-sm-6" style="text-align:left"><h4><%= item.intro %></h4></div>
            <div class="col-sm-3" style="text-align:left"><h4><% if item.support!=nil %> <%= item.support.user.name %> <% else %> - <% end %></h4> </div>
           </div>      
      <% end %>
    </div>

    <div class="container marketing">
      <hr>
      <div class="col-md-12">
          <%= form_tag "/bucket/write_comment", method: "post" do %>

          <h3 style="text-align:left"><%= @selected_bucket.replies.count %>개의 댓글이 있어요. <button type="submit" class="btn btn-primary btn-lg">등록하기</button></h3>
          <input type="hidden" name="bucket_id" value="<%= @selected_bucket.id %>">
            <% if user_signed_in? %>
            <textarea class="form-control" rows="3" cols="auto" name="msg"></textarea>
            <br>
            <% else %>
            <textarea class="form-control" placeholder="로그인 후 댓글을 남길 수 있습니다." rows="3" cols="auto" readonly="readonly"></textarea>
            <% end %>
          <% end %>
        </div>

        <% @selected_bucket.replies.each do |reply| %>
            <hr class="col-lg-12" style="padding:0px;margin:0px">
            <div class="col-lg-12">
              <div class="col-lg-9" style="text-align:left; margin:20px 0px;">
                <h4><%= reply.user.name %></h4>
                <p style="font-size:20px"><%= reply.context %></p>
              </div>
              <div class="col-lg-3" style="text-align:right; margin:20px 0px;">
                  <p><%= reply.updated_at.in_time_zone(9).strftime("%Y/%m/%d \n %a %p %I:%M:%S")%></p>
                  <% if user_signed_in? %>
                    <% if reply.user_id == current_user.id %>
                      <%= form_tag "/bucket/del_comment", method: "post" do %>
                      <input type="hidden" name="reply_id" value="<%= reply.id %>">
                      <button type="submit" class="btn btn-danger" style="float:right">X</button>
                    <% end %>
                  <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
</div>