<div class="container bucket-container">
    <div class="marketing">

      <div class="row detail_top_info">
        <div class="col-lg-4">
          <img class="img-circle" src="<% unless @selected_bucket.user.profile.url.nil? %> <%= @selected_bucket.user.profile.url %> <% else %> <%= image_url('default_image.png')%><%end%> " alt="Generic placeholder image" width="140" height="140">
          <h4><%= User.find(@selected_bucket.user_id).name %></h4>
        </div>
        <div class="col-lg-6">
          <h2><%= @selected_bucket.name %></h2>
          <h4><%= @selected_bucket.intro_simple %></h4>
          <div class="col-lg-6">
            <h3><%= ((@selected_bucket.items.where(:state => 2).count.to_f / @selected_bucket.items.count.to_f)*100).round(1) %> %</h3>
          </div>
          <div class="col-lg-6">
            <h3><%= Time.diff(@selected_bucket.finish_date, @selected_bucket.start_date, '%d')[:diff]  %> 남음</h3>
            <h6><%= @selected_bucket.start_date %> ~ <%= @selected_bucket.finish_date %></h6>
          </div>
        </div>
        <div class="col-lg-2">
          <!-- empty-->
        </div>
      </div>
    </div>
      <hr>
      <%= form_tag "/bucket/support_send/#{@selected_bucket.id}", method: "post" do %>
     <div class="container">
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h3>후원 태그</h3> </div>
          <div class="col-sm-6" style="text-align:left"><h3>상세 설명</h3></div>
          <div class="col-sm-3" style="text-align:left"><h3>후원하기</h3></div>
      </div>
      <hr>
    
        <% @selected_bucket.items.where(:state => 0).each do |item| %>
            <div style="padding:10px 0px 50px">
              <div class="col-sm-3" style="text-align:left"><h4><%= item.name %></h4> </div>
              <div class="col-sm-6" style="text-align:left"><h4><%= item.intro %></h4></div>
              <div class="col-sm-2" style="text-align:left">
              <input type="checkbox" name="item_id[]" value="<%= item.id %>"></input>
              </div>
             </div>      
        <% end %>
      </div>
      
     
     
        <hr>
        <div>
        <input type="hidden" name="bucket_id" value="<%= @selected_bucket.id %>"></input>
        <button type="submit" class="btn btn-primary btn-lg active" role="button" data-confirm="확인 버튼을 누르면 후원이 완료되고, <%= @selected_bucket.user.name %>님의 이메일로 fuller <%= current_user.name %> 님의 이메일 주소가 전송됩니다.">후원하기</button>
        </div>
      <% end %>
      <br>
    </div>
