<div class="container mypage-container">
    <div class="marketing">
        <div class="row detail_top_info">
            <div class="col-lg-4">
                <img class="img-circle" src="<% unless @user_info.profile.nil? %> <%= @user_info.profile.url %> 
                                          <% else %> <%= image_url('default_image.png')%>
                                          <%end%> " alt="Generic placeholder image" width="140" height="140">
                <br><br><a href="/users/edit"  type="button" style="line-height: 16px; padding: 5px 17px; text-align:right; margin-bottom:25p" class="btn btn-default">프로필 편집</a>
            
            </div>
        <div class="col-lg-6">
            <h2><%=@user_info.name %></h2>
                <div class="col-lg-6">
                    <h4>등록한 프로젝트 <%= @user_info.buckets.count %>개</h4>
                </div>
                <div class="col-lg-6">
                    <h4>후원한 프로젝트 <%= @user_info.supports.count %>개</h4>
                </div>
        </div>
        <div class="col-lg-2">
          <!-- empty-->
        </div>
      </div>
    </div>
</div>


<!--등록한 프로젝트 -->
<div class="col-sm-12">
    <div class="container">
    <br>
        <h2>등록한 프로젝트</h2>
        <hr>
    </div>
</div>
  <div style="margin-top: 63px;">
  <div class="container bucket-container">
    <div class="row">
        <% unless @user_mybuckets.count == 0 %>
            <% @user_mybuckets.each do |bucket| %>
                <div class="col-sm-4 col-md-4 col-lg-4 thumbnail each_list_container">
                    <div>
                        <a href="/bucket/projectdetail/<%= bucket.id %>">
                            <img src="<% unless bucket.thumbnail.url.nil? %><%= bucket.thumbnail.url %><%else%><%= image_url('default_image.png')%><%end%>"></a>
                        <hr style="margin:8px 0px">
                        <div>
                            <div>
                                <h4 class="col-sm-8">
                                    <a href="/bucket/projectdetail/<%= bucket.id %>"><%= bucket.name %></a>
                                </h4>
                                <h4 class="col-sm-4">
                                    <%= ((bucket.items.where(:state => 2).count.to_f / bucket.items.count.to_f)*100).round(1) %> %
                                </h4>
                            </div>
                            <div>
                                <h5 class="col-sm-8"><%= bucket.intro_simple %></h5>
                                <h5 class="col-sm-4"><%= Time.diff(bucket.finish_date, Time.now.in_time_zone('Seoul').to_date, '%d')[:diff]  %> 남음</h5>
                            </div>
                        </div>
                        <div class="col-sm-12 each_list_tag">
                            <p>
                                <% bucket.items.each do |item| %>
                                    <span>#<%= item.name %></span>
                                <% end %>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div  class="bucket-main">
                <p class="lead">500여개의 꿈들을 후원해줄 200개의 회사가 당신의 꿈을 응원합니다.</p>
                <p><a class="btn btn-lg btn-primary" href="/bucket/make_bucket" role="button">프로젝트 등록하러 가기</a></p>
            </div>
        <% end %>
    </div>
</div>
</div>
 

  
<!--후원한 프로젝트 -->
<br><br>
<div class="col-sm-12"> 
    <div class="container">
      <br>
      <h2>후원한 프로젝트</h2>
      <hr>
      
    </div>
</div>
  <div style="margin-top: 63px;">
  <div class="container bucket-container">
    <div class="row">
        <% unless @user_info.supports.count == 0 %>
            <% @user_info.supports.each do |support| %>
                <div class="col-sm-4 col-md-4 col-lg-4 thumbnail each_list_container">
                    <div>
                        <a href="/bucket/projectdetail/<%= support.bucket.id %>">
                            <img src="<% unless support.bucket.thumbnail.url.nil? %><%= support.bucket.thumbnail.url %><%else%><%= image_url('default_image.png')%><%end%>"></a>
                        <hr style="margin:8px 0px">
                        <div>
                            <div>
                                <h4 class="col-sm-8">
                                    <a href="/bucket/projectdetail/<%= support.bucket.id %>"><%= support.bucket.name %></a>
                                </h4>
                                <h4 class="col-sm-4">
                                    <%= ((support.bucket.items.where(:state => 2).count.to_f / support.bucket.items.count.to_f)*100).round(1) %> %
                                </h4>
                            </div>
                            <div>
                                <h5 class="col-sm-8"><%= support.bucket.intro_simple %></h5>
                                <h5 class="col-sm-4"><%= Time.diff(support.bucket.finish_date, support.bucket.start_date, '%d')[:diff]  %> 남음</h5>
                            </div>
                        </div>
                        <div class="col-sm-12 each_list_tag">
                            <p>
                                <% support.bucket.items.each do |item| %>
                                    <span>#<%= item.name %></span>
                                <% end %>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div  class="bucket-main">
                <p class="lead">200개의 회사가 ifer를 후원하고 있습니다.</p>
                <p><a class="btn btn-lg btn-primary" href="/bucket/firstProcessList" role="button" >프로젝트 후원하러 가기</a></p>
            </div>
        <% end %>
    </div>
</div>
</div>